## Deliverable 2. Create a Customer Travel Destinations Map.

In [2]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import os

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [3]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("Weather_Database/WeatherPy_databasecities.csv")
city_data_df.head()

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Umm Kaddadah,SD,13.6017,26.6876,289.61,31,0,5.95,clear sky
1,1,Punta Arenas,CL,-53.1500,-70.9167,288.15,44,20,9.77,few clouds
2,2,Pangnirtung,CA,66.1451,-65.7125,264.15,73,75,1.03,broken clouds
3,3,Rio Grande,BR,-32.0350,-52.0986,302.15,51,0,3.60,clear sky
4,4,Dzerzhinskoye,RU,56.8344,95.2283,266.01,96,99,2.39,overcast clouds

In [4]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 

min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 220
What is the maximum temperature you would like for your trip? 260

In [5]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.

preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Country,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
23,23,College,US,64.8569,-147.8028,251.48,71,90,0.77,mist
27,27,Mukhen,RU,48.1000,136.1000,247.19,88,99,0.68,overcast clouds
46,46,Barrow,US,71.2906,-156.7887,254.15,71,90,4.12,mist
58,58,Nenjiang,CN,49.1833,125.2167,247.57,85,19,1.98,few clouds
61,61,Yellowknife,CA,62.4560,-114.3525,238.71,67,1,1.55,clear sky
69,69,Haines Junction,CA,60.7522,-137.5108,250.15,54,94,0.14,overcast clouds
82,82,Aklavik,CA,68.2191,-135.0107,241.15,75,90,1.54,light snow
89,89,Yar-Sale,RU,66.8333,70.8333,238.25,84,100,6.39,overcast clouds
90,90,Zalantun,CN,48.0000,122.7167,250.94,83,0,2.90,clear sky
92,92,Podyuga,RU,61.0950,40.8647,251.48,90,100,3.51,overcast clouds

In [6]:
# 4a. Determine if there are any empty rows.

preferred_cities_df.isnull().sum()

City_ID                0
City                   0
Country                0
Lat                    0
Lng                    0
Max Temp               0
Humidity               0
Cloudiness             0
Wind Speed             0
Current Description    0
dtype: int64

In [7]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.

clean_df = preferred_cities_df.dropna()

In [8]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
23,College,US,251.48,mist,64.8569,-147.8028,
27,Mukhen,RU,247.19,overcast clouds,48.1000,136.1000,
46,Barrow,US,254.15,mist,71.2906,-156.7887,
58,Nenjiang,CN,247.57,few clouds,49.1833,125.2167,
61,Yellowknife,CA,238.71,clear sky,62.4560,-114.3525,
69,Haines Junction,CA,250.15,overcast clouds,60.7522,-137.5108,
82,Aklavik,CA,241.15,light snow,68.2191,-135.0107,
89,Yar-Sale,RU,238.25,overcast clouds,66.8333,70.8333,
90,Zalantun,CN,250.94,clear sky,48.0000,122.7167,
92,Podyuga,RU,251.48,overcast clouds,61.0950,40.8647,

In [9]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():
    # Get the latitude and longitude.
    lat = row["Lat"]
    lng = row["Lng"]

    # 6c. Get latitude and longitude from DataFrame
    params["location"] = f"{lat},{lng}"

    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search.
    hotels = requests.get(base_url, params=params).json()   
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except(IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [10]:
hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
23,College,US,251.48,mist,64.8569,-147.8028,Pike's Waterfront Lodge
27,Mukhen,RU,247.19,overcast clouds,48.1000,136.1000,
46,Barrow,US,254.15,mist,71.2906,-156.7887,King Eider Inn
58,Nenjiang,CN,247.57,few clouds,49.1833,125.2167,Nenjiang Apartment
61,Yellowknife,CA,238.71,clear sky,62.4560,-114.3525,The Explorer Hotel

In [11]:
# 7. Drop the rows where there is no Hotel Name.

clean_hotel_df = hotel_df[hotel_df['Hotel Name'] != '']
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
23,College,US,251.48,mist,64.8569,-147.8028,Pike's Waterfront Lodge
46,Barrow,US,254.15,mist,71.2906,-156.7887,King Eider Inn
58,Nenjiang,CN,247.57,few clouds,49.1833,125.2167,Nenjiang Apartment
61,Yellowknife,CA,238.71,clear sky,62.4560,-114.3525,The Explorer Hotel
69,Haines Junction,CA,250.15,overcast clouds,60.7522,-137.5108,Parkside Inn

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"

# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [15]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]


# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [16]:
# 11a. Add a marker layer for each city to the map.
locations = clean_hotel_df[["Lat", "Lng"]]
# max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
# heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
#              max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
# fig.add_layer(heat_layer)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))